<div class="container">
  <p class="text-info">
    Welcome to the Angular 2 Store.
    <br> Please select the products you want and add them to your shopping cart.
    <br> When you are done, click the shopping cart icon to review your order and check out.
  </p>
  <div class="row">
    <div class="col-md-8">
      <div class="search-box">
        <input class="form-control" placeholder="Search Fruits..." type="text">
      </div>
    </div>
    <div class="col-md-2">
      <div class="col-md-8 pull-left">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            <a class="actions">Sort by</a>
            <span class="caret actions"></span>
          </button>
          <ul class="dropdown-menu">
            <li (click)="sortByName()"><a>Name</a></li>
            <li (click)="sortByPrice()"><a href="#">Price</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-center pull-right">
      <a class="actions btn" (click)="showWishList()">{{showListText}} list</a>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-xs-1">#</th>
            <th class="col-xs-1">Image</th>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-5">Description</th>
            <th class="col-xs-1">Price</th>
            <th class="col-xs-2">Shop</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fruit of fruits; let i = index">
            <td class="col-xs-1">{{i + 1}}</td>
            <td class="col-xs-1"><img src="{{fruit.img}}" alt="{{fruit.name}}"></td>
            <td class="col-xs-2"><a class="actions">{{fruit.name}}</a></td>
            <td class="col-xs-5"><div class="table-left">{{fruit.description}}</div></td>
            <td class="col-xs-1"><strong>{{fruit.price | currency:UDS:true}}</strong></td>
            <td class="col-xs-2">
              <div class="col-sm-8">
                <a class="actions">add to cart</a>
              </div>
              <div class="col-sm-4 ">
                <div class="favorite" [ngClass]="{'isFavorite': fruit.favorite}" (click)="setFavorite(fruit.id-1)"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
