.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top:10px;
}

.btn .caret {
  color: #337ab7;
}

.search-box {
  margin-left: -15px;
  max-width: 250px;
}

.btn.dropdown-toggle {
  background-color: transparent;
}

.table td {
   text-align: center;
   vertical-align: middle;
}

.table tr:hover{
  background-color: #fcf8e3;
}

.table-left {
  text-align: left;
}

