/* You can add global styles to this file, and also import other style files */
.table td.tdRight {
    text-align: right
}

.table td.tdCenter {
    text-align: center
}

.table-nonfluid {
    width: auto
}

a.actions {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.shopping-cart {
    width: 15px;
    height: 15px;
}

.text-decor {
  color: #337ab7;
  font-weight: bold;
}

.customer-form {
    margin-top: 40px;
}

.border-green {
    border: 1px solid green;
}

.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}